.link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link_image_container {
    width: 1rem;
}

.link_image{
    filter: var(--icon-bg);
}

.link_text{
    font-size: 0.85rem;
}

@media screen and (min-width:40rem){
    .link_text{
        font-size: 1rem;
    }
}